<ion-view>
    <ion-content padding="true" class="has-header">

        <div class="item item-input-inset">
            <a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="handleBack()">Back</a>
            <label class="item-input-wrapper">
                <input type="text" ng-model="patientssearchfilter" placeholder="Search past patients">
            </label>
            <button class="button button-small button-positive" ng-click="refreshlist()">
                Refresh
            </button>
        </div>

        <div class="list card" >

            <div class="item" ng-repeat="patient in patients|filter:patientssearchfilter| limitTo:100" ng-click="showDetails(patient)">

                <div class="row">
                    <div class="col">

                        <h2>Family Name: {{patient.lastname}}</h2>
                        <h2>First Name: {{patient.firstname}}</h2>
                        <p>Gender: {{patient.gender}}</p>
                        <p>Date of Birth: {{patient.dateofbirthday}} {{patient.dateofbirthmonth}} {{patient.dateofbirthyear}}</p>
                        <p>Age: {{patient.calculateage}}</p>
                        <p>Address: {{patient.address}}</p>
                        <p>Facility Occupied: {{patient.facilityoccupied}}</p>
                        <p>Arrived at: {{patient.datetime}}</p>
                        <p class="uk-badge" style="color: white">Left at: {{patient.dischargedate}}</p>



                    </div>

                    <div class="col">

                                <div class="spacer" style="width: 300px; height: 100px;"></div>
                                <button class="uk-button uk-button-primary"  uk-toggle  href="#modality" ng-click="patientdetails(patient)" style="width:200px;">VIEW DETAILS</button>
                                <div class="spacer" style="width: 300px; height: 20px;"></div>
                                <button class="uk-button uk-button-danger" ng-click="printpatient(patient)" style="width:200px;">PRINT</button>


                    </div>
                </div>


            </div>
        </div>

        <div id="modality" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <h2 class="uk-modal-title">Past Clocked-in patient details</h2>
                <p>Family Name: {{patient.lastname}}</p>
                <p>Given Name: {{patient.firstname}}</p>
                <p>MRN: {{patient.mrn}}</p>
                <p>WARD OCCUPIED: {{patient.facilityoccupied}}</p>
                <p>Gender: {{patient.gender}}</p>
                <p>Date of Birth: {{patient.dateofbirthday}} {{patient.dateofbirthmonth}} {{patient.dateofbirthyear}}</p>
                <p>Address: {{patient.address}}</p>
                <p>Phone Number: {{patient.phonenumber}}</p>
                <p>Email: {{patient.email}}</p>
                <p>Referred by Doctor: {{patient.referringdoctor}}</p>
                <p>Payment Method: {{patient.paymentmethod}}</p>
                <p>Gender: {{patient.gender}}</p>
                <p>Notes: {{patient.notes}}</p>

            </div>


        </div>
    </ion-content>
</ion-view>