<ion-content>

<div class="item item-input-inset">
<a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="backtomenu()">Back to patient billing list</a>
 </div>
<div class="spacer" style="width:300px;height:40px;"></div>
      
        <div class="row header">
          <div class="col">FACILITY OCCUPIED</div>
          <div class="col">STARTED</div>
          <div class="col">ENDED</div>
        </div>
        <div class="row" ng-repeat="facilityitem in facilityitems">
          <div class="col">{{facilityitem.facilityoccupied}}</div>
          <div class="col">{{facilityitem.facilitystarted}}</div>
          <div class="col">{{facilityitem.facilityended}}</div>

        </div>
 </ion-content>