<ion-view title="Secretary">
<ion-content>
<div class="row">
<div class="col-60"> 
  <div class="item item-input-inset">
<a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="backtomenu()">Back to active patients list</a>
    <label class="item-input-wrapper">
      <input type="text" ng-model="searchfilterbill" placeholder="Search billing list">
    </label>
<button class="button button-small button-positive" ng-click="loadpatient()" href="#modal" uk-toggle  title="Patient details" uk-tooltip>
      View Patient
    </button>
 </div>
 
 <form style="padding-left: 10px;">
        <label class="item item-input">
        <span style="color:#387ef5;font-size:18px;" class="input-label">Patient: </span>
        <input type="text" readonly="readonly" style="font-size:18px;" ng-model="patientbill.patientname" id="patientbill.patientname" placeholder="Patient Name" >
        </label>

        <label class="item item-input">
        <span style="color:#387ef5;font-size:18px;" class="input-label">Gender: </span>
        <input type="text" readonly="readonly" style="font-size:18px;" ng-model="patientbill.gender" id="patientbill.gender" placeholder="Patient Gender" >
        </label>

        <label class="item item-input">
        <span style="color:#387ef5;font-size:18px;" class="input-label">Address: </span>
        <input type="text" readonly="readonly" style="font-size:18px;" ng-model="patientbill.address" id="patientbill.address" placeholder="Patient Address" >
        </label>

        <label class="item item-input">
        <span style="color:#387ef5;font-size:18px;" class="input-label">Date of Birth: </span>
        <input type="text" readonly="readonly" style="font-size:18px;" ng-model="patientbill.dateofbirth" id="patientbill.dateofbirth" placeholder="Patient date of birth" >
        </label>

        <label class="item item-input">
        <span style="color:#387ef5;font-size:18px;" class="input-label">Payment Method: </span>
        <input type="text" readonly="readonly" style="font-size:18px;" ng-model="patientbill.paymentmethod" id="patientbill.paymentmethod" placeholder="Payment Method" >
        </label>

          <label class="item item-input">
          <span style="color:#387ef5;font-size:18px;" class="input-label">Notes: </span>
          <textarea ng-model="patientbill.notes" readonly="readonly" style="font-size:18px;height:100px;" id="patientbill.notes" placeholder="Admission Notes">
          </textarea>
        </label>


        <div class="spacer" style="width: 300px; height: 20px;"></div>

     <div class="button-bar">
         <button class="button button-full button-positive" ng-click="addservicetobill()">Add a service to the bill</button>
         <button class="button button-full button-balanced" ng-click="openmovementbook()">View movement book</button>
         <button class="button button-full button-dark" ng-click="creatediscount()">Add a discount</button>
     </div>

 </form>
    <div class="col"><div class="uk-alert-primary" uk-alert style=" margin-left: 20px;"><p>{{patientbill.discountvalue}}</p> </div></div>

        <div class="spacer" style="width:300px;height:0px;"></div>
      
        <div class="row header">
          <div class="col">ITEM CONSUMED</div>
          <div class="col">PRICE (Rs)</div>
          <div class="col">ITEM CATEGORY</div>
          <div class="col">DATE CONSUMED</div>
          <div class="col">OPTIONS</div>
        </div>
        <div class="row" ng-repeat="patientbill in patientbills|filter:searchfilterbill">
          <div class="col">{{patientbill.itemconsumed}}</div>
          <div class="col">{{patientbill.itemcost}}</div>
          <div class="col">{{patientbill.itemcategory}}</div>
          <div class="col">{{patientbill.dateofuse}}</div>
          <div class="col">
            <button class="button button-positive" ng-click="edititem(patientbill)">Edit</button>
            <button class="button button-positive" ng-click="deleteitem(patientbill)">Delete</button>
            </div>
        </div>


        </div>
<div class="col-40">
  <div class="item item-input-inset">
 <label class="item-input-wrapper">
      <input type="text" style="width:300px" ng-model="searchfilter" placeholder="Search services">
    </label>
  </div>
<div class="list card" >

<div class="item" ng-repeat="service in services|filter:searchfilter| limitTo:200" ng-click="selectedservice(service)">
  <div class="spacer" style="width: 300px; height: 10px;"></div>
  <dt>Service : {{service.servicetype}}</dt>
  <dd>Price : {{service.servicecost}}</dd>
  <dd>Category : {{service.servicecategory}}</dd>
</div>
</div>
</div>


<div id="modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title">Clocked-in patient details</h2>
        <p>Family Name: {{patient.lastname}}</p>
        <p>Given Name: {{patient.firstname}}</p>
        <p>WARD OCCUPIED: {{patient.facilityoccupied}}</p>
        <p>Gender: {{patient.gender}}</p>
        <p>Date of Birth: {{patient.dateofbirthday}} {{patient.dateofbirthmonth}} {{patient.dateofbirthyear}}</p>
        <p>Address: {{patient.address}}</p>
        <p>National ID: {{patient.nic}}</p>
        <p>Phone Number: {{patient.phonenumber}}</p>
        <p>Email: {{patient.email}}</p>
        <p>Referred by Doctor: {{patient.referringdoctor}}</p>
        <p>Payment Method: {{patient.paymentmethod}}</p>
        <p>Gender: {{patient.gender}}</p>
        <p>Notes: {{patient.notes}}</p>

    </div>


</div>
      
 </ion-content>
 </ion-view>
