<ion-view title="Smarthealth HIS">
    <ion-content class="has-header">


        <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
            <div class="uk-background-cover" style="background-image: url('/img/smarthealth.jpg');" uk-height-viewport></div>
            <div class="uk-padding-large">
                <p class="uk-text-lead" style="margin-left: 40px;">SMART HEALTH HIS Logout</p>


                <div class="span" style="height: 20px;"></div>
                <button class="uk-button uk-button-primary" style="width: 400px;" ng-click="dologout()">Click here to logout</button>
                <div class="span" style="height: 20px;"></div>


            </div>
        </div>

    </ion-content>
</ion-view>

