<ion-view title="Ward Manager">
<ion-content padding="true" class="has-header">

<button class="button button-block button-positive" ng-click="configurewards()" type="submit">Click here to configure wards</button>
<div class="list card" >

<div class="item" ng-repeat="ward in wards|limitTo:100" ng-click="wardclicked(ward)">
<div class="row">
  <div class="col">
  <div class="spacer" style="width: 300px; height: 10px;"></div>
  <h1>{{ward.wardname}}</h2>
  <h2>Occupied Beds: {{ward.occupied}}</p>
  <h2>Total Beds: {{ward.maxbeds}}</p>
  <h2>Remaining Beds: {{ward.maxbeds-ward.occupied}}</p>
  </div>

 <div class="col">
  <div class="spacer" style="width: 300px; height: 50px;"></div>
 <div class="percent-container">
 <percent-circle percent="(ward.occupied/ward.maxbeds)*100" title="Percentage of Ward occupied (out of 100%)" uk-tooltip></percent-circle></div>
 </div>

<div class="col"> 
  <div class="spacer" style="width: 300px; height: 50px;"></div>
<button class="button button-block button-positive" style="width:150px;"ng-click="addpatient(ward)" type="submit"title="Add patients not yet admitted" uk-tooltip>Add Patient</button>
<button class="button button-block button-positive" style="width:150px;"ng-click="viewpatients(ward)" type="submit"title="View this WARD inpatients" uk-tooltip>View Patients</button>
</div> 

</div>
</div>


    </ion-content>
</ion-view>