<ion-modal-view

style="position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);min-height: 450px; min-width: 0; max-width: 600px;"
>
  <ion-header-bar>
    <h1 class="title">Fill in all fields</h1>

  </ion-header-bar>
  <ion-content>
      
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Batch No.  </span>
          <input type="text" placeholder="Specify Batch No." ng-model="mainpopup.batchno" >
        </label>
        <label class="item item-input">
          <span class="input-label">Item:  </span>
          <input type="text" placeholder="Please specify item" ng-model="mainpopup.itemname" >
        </label>
        
       <label class="item item-input">
          <span class="input-label">Price (Rs): </span>
          <input type="text" placeholder="Numbers only" ng-model="mainpopup.itemcost" >
        </label>

        <label class="item item-input">
          <span class="input-label">EXP Date: </span>
          <input type="text" placeholder="EXP date" ng-model="mainpopup.expdate" >
        </label>

        <label class="item item-input">
          <span class="input-label">Barcode: </span>
          <input type="text" placeholder="Scanned barcode value" ng-model="mainpopup.barcodeval" >
        </label>

        <label class="item item-input">
          <span class="input-label">Quantity: </span>
          <input type="text" placeholder="Item count" ng-model="mainpopup.quantity" >
        </label>


        <div class="spacer" style="width: 300px; height: 20px;"></div>
          <centre><button class="button button-block button-positive" ng-click="submititem(mainpopup)" type="submit">Done</button></centre>
     
     </div>
     
  </ion-content>
</ion-modal-view>