<ion-content ng-app="starter">
<div class="bar bar-header item-input-inset">
<label class="item-input-wrapper">
<i class="icon ion-ios-search placeholder-icon"></i>
<input type="search" id="searchbar" ng-model="icd.finder" placeholder="Not all ICD items are displayed below, type to search from entire database">
</label>
<button class="button button-positive" ng-click="addDiagnosis()">
    Add Diagnosis
</button>
</div>
<ion-list>
 <ion-item ng-repeat="content in contents|filter:icd.finder | limitTo: 50" ng-click="retrievedItem(content.item)">
{{content.item}}
</ion-item>
</ion-list>
</ion-content>