<div class="spacer" style="width: 300px; height: 100px;"></div>
<ion-content ng-app="starter">
<!-- Navigator definitions-->
<div class="bar bar-header" style="border:none;">
<button class="button" ng-click="gototools()" style="border:none;font-size:18px;color:#387ef5;">< Back to menu</button>
</div>
<!-- END of Navigator definitions-->

  <label class="item item-input item-select"style="font-size:18px;">
    <div class="input-label"style="font-size:18px;">
      Select Gender:
    </div>
    <select id = "energy.gender">
      <option selected>Male</option>
      <option>Female</option>
    </select>
  </label>
  
      <label class="item item-input item-select">
    <div class="input-label"style="font-size:18px;">
      Weight:
    </div>
    <label><input type="text" style="font-size:18px;" id ="energy.weight" ng-model="energy.weight" placeholder="Enter weight"> </label>
  
    <select id="energy.weightselector">
      <option selected>kg</option>
      <option>lb</option>
      <option>g</option>
    </select>
  </label>
  
  <label class="item item-input">
    <div class="input-label"style="font-size:18px;">
      Height:
    </div>
    <label><input type="text" style="font-size:18px;" id ="energy.height" ng-model="energy.height" placeholder="Enter height"> </label>
  <div class="input-label"style="font-size:18px;">
      cm
    </div>
  </label>
  
  <label class="item item-input">
    <div class="input-label"style="font-size:18px;">
      Age:
    </div>
    <label><input type="text" style="font-size:18px;" id ="energy.age" ng-model="energy.age" placeholder="Enter age"> </label>
  <div class="input-label"style="font-size:18px;">
      years
    </div>
  </label>
  
  <div class="spacer" style="width: 300px; height:40px;"></div>
          <div class="row">
        <div class="col col-50"></div>
        <div class="col col-50"><button id="energy.calculate" ng-click="calculateenergy()" type="submit" style="font-size:18px;" class="button button-positive">Calculate</button></div>
        </div>
        
<div class="spacer" style="width: 300px; height:20px;"></div>  
<label class="item item-input" style="border: none;">
<span style="color:black;font-size:18px;margin-left:auto;margin-right:auto;padding-left:10px;" id="energy.results" class="input-label"></span>
</label>
<div class="spacer" style="width: 300px; height:20px;"></div>    
<label class="item item-input" style="border: none;">
<span style="color:#387ef5;font-size:18px;margin-left:auto;margin-right:auto;padding-left:10px;" class="input-label">Type in all fields and tap calculate</span>
</label>

