<ion-content>
<!--BEGIN PATIENT mdparttwo TEMPLATE-->
<!-- Navigator definitions-->
<div class="bar bar-header" style="border:none;">
<button class="button" ng-click="back()" style="border:none;font-size:18px;color:#387ef5;">< Previous sheet</button>
<button class="button" ng-click="menu()" style="border:none;font-size:18px;color:#FF8800;">Options</button>
<button class="button" ng-click="next()" style="border:none;font-size:18px;color:#387ef5;">Next sheet ></button>
</div>
<!-- END of Navigator definitions-->
<!--List encompasses all items-->
<div class="list">
<div class="spacer" style="width: 300px; height: 40px;"></div>
<label class="item item-input" style="border: none;">
<span style="color:#387ef5;font-size:18px;margin-left:auto;margin-right:auto;" class="input-label">CENTRAL NERVOUS SYSTEM EXAMINATION</span>
</label>

<!---------Text + placeholder no text area-------->
<div class="item item-input-inset" style="border: none;height:50px;">
<div style="color:#387ef5;font-size:18px;min-width:150px;" class="text-label">Cranial nerves</div>
<label class="item item-input" style="border: none;"><input type="text" style="font-size:18px;padding-left:35px;padding-top:4px;height:41px;width:5000px;" id="mdparttwo.cranialnerve"  ng-model="mdparttwo.cranialnerve" placeholder="Cranial nerve examination" ></label>
</div><!--END of Text + placeholder no text area-->

<!---------Text + placeholder no text area-------->
<div class="item item-input-inset" style="border: none;height:50px;">
<div style="color:#387ef5;font-size:18px;min-width:150px;" class="text-label">Speech</div>
<label class="item item-input" style="border: none;"><input type="text" style="font-size:18px;padding-left:35px;padding-top:4px;height:41px;width:5000px;"  ng-model="mdparttwo.speech" id="mdparttwo.speech" placeholder="Speech" ></label>
</div><!--END of Text + placeholder no text area-->

<!---------Text + placeholder no text area-------->
<div class="item item-input-inset" style="border: none;height:50px;">
<div style="color:#387ef5;font-size:18px;min-width:150px;" class="text-label">Motor system</div>
<label class="item item-input" style="border: none;"><input type="text" style="font-size:18px;padding-left:35px;padding-top:4px;height:41px;width:5000px;" id="mdparttwo.motorsystem"  ng-model="mdparttwo.motorsystem" placeholder="Motor system" ></label>
</div><!--END of Text + placeholder no text area-->

<!---------Text + placeholder no text area-------->
<div class="item item-input-inset" style="border: none;height:50px;">
<div style="color:#387ef5;font-size:18px;min-width:150px;" class="text-label">Sensory system</div>
<label class="item item-input"  style="border: none;"><input type="text" style="font-size:18px;padding-left:35px;padding-top:4px;height:41px;width:5000px;" id="mdparttwo.sensorysystem" ng-model="mdparttwo.sensorysystem" placeholder="Sensory system" ></label>
</div><!--END of Text + placeholder no text area-->

<!---------Text + placeholder no text area-------->
<div class="item item-input-inset" style="border: none;height:50px;">
<div style="color:#387ef5;font-size:18px;min-width:150px;" class="text-label">Meningeal signs</div>
<label class="item item-input" style="border: none;"><input type="text" style="font-size:18px;padding-left:35px;padding-top:4px;height:41px;width:5000px;" id="mdparttwo.meningealsigns"  ng-model="mdparttwo.meningealsigns" placeholder="Meningeal signs" ></label>
</div><!--END of Text + placeholder no text area-->

<label class="item item-input" style="border: none;">
<span style="color:#387ef5;font-size:18px;margin-left:auto;margin-right:auto;padding-left:90px;" class="input-label">OTHER FINDINGS</span>
</label>

<input type="text" style="font-size:18px;height:41px;padding-left:10px;width:100%;" id="mdparttwo.otherfindings" ng-model="mdparttwo.otherfindings" placeholder="Other findings" >
<!--List encompasses all items-->
</div><!--END of list div-->
</ion-content>