<ion-view title="Consultation">
    <!--PLACE AT TOP OF HTML AFTER ION-VIEW-->
    <ion-nav-buttons side="right" ng-show="false">
        <button class="button button-icon button-clear ion-android-exit" title="Options" ng-click="showPopup()" uk-tooltip>
        </button>
    </ion-nav-buttons>
<ion-content>
<!--MANDATORY SPACER TO AVOID OVERLAP WITH TOP HEADER BAR-->
<div class="spacer" style="width: 300px; height: 50px;"></div>
<!--separator--->
<div class="row">
  <div class="col col-50">
  <!--separator--->
    <a class="item item-avatar" menu-close ng-click="standardconsultation()">
      <img src="img/mydetails.png">
      <h2>General consultation</h2>
      <p>Basic consultation format</p>
    </a>
    <!--separator--->
  </div>

  <div class="col col-50">
  <!--separator--->
 <a class="item item-avatar" menu-close ng-click="obstetrics()">
      <img src="img/mydetails.png">
      <h2>Obstetrics consultation</h2>
      <p>General consultation with added obstetrics case sheets</p>
    </a>
    <!--separator--->
  </div>
</div>
<!--separator--->

<!--separator--->
<div class="row">
  <div class="col col-50">
  <!--separator--->
    <a class="item item-avatar" menu-close ng-click="gynaecology()">
      <img src="img/mydetails.png">
      <h2>Gynaecology consultation</h2>
      <p>General consultation with added gynaecology case sheets</p>
    </a>
    <!--separator--->
  </div>

  <div class="col col-50">
  <!--separator--->
 <a class="item item-avatar" menu-close ng-click="paediatrics()">
      <img src="img/mydetails.png">
      <h2>Paediatrics consultation</h2>
      <p>General consultation with added paediatrics case sheets</p>
    </a>
    <!--separator--->
  </div>
</div>
<!--separator--->

<!--separator--->
<div class="row">
  <div class="col col-50">
  <!--separator--->
    <a class="item item-avatar" menu-close ng-click="psychiatry()">
      <img src="img/mydetails.png">
      <h2>Psychiatry consultation</h2>
      <p>General consultation with added psychiatry case sheets</p>
    </a>
    <!--separator--->
  </div>

  <div class="col col-50">
  <!--separator--->
 <a class="item item-avatar" menu-close ng-click="ENT()">
      <img src="img/mydetails.png">
      <h2>Ear Nose Throat consultation</h2>
      <p>General consultation with added otorhinolaryngology case sheets</p>
    </a>
    <!--separator--->
  </div>
</div>
<!--separator--->

<!--separator--->
<div class="row">
  <div class="col col-50">
  <!--separator--->
    <a class="item item-avatar" menu-close ng-click="opthalmology()">
      <img src="img/mydetails.png">
      <h2>Opthalmology consultation</h2>
      <p>General consultation with added opthalmology case sheets</p>
    </a>
    <!--separator--->
  </div>

  <div class="col col-50">
  <!--separator--->
 <a class="item item-avatar" menu-close ng-click="orthopaedics()">
      <img src="img/mydetails.png">
      <h2>Orthopaedics consultation</h2>
      <p>General consultation with added orthopaedics case sheets</p>
    </a>
    <!--separator--->
  </div>
</div>
<!--separator--->

<!--separator--->
<div class="row">
  <div class="col col-50">
  <!--separator--->
    <a class="item item-avatar" menu-close ng-click="note()">
      <img src="img/mydetails.png">
      <h2>Add a note</h2>
      <p>Add a note to a general consultation</p>
    </a>
    <!--separator--->
  </div>
<!--
  <div class="col col-50">

    <a class="item item-avatar" menu-close ng-click="closeconsultation()">
      <img src="img/recordok.png">
      <h2>Quit consultation</h2>
      <p>Go back to patient dashboard</p>
    </a>

  </div>-->

  </div>

</ion-content></ion-view>