<ion-content>

<!--BEGIN PATIENT obsexam TEMPLATE-->
<!-- Navigator definitions-->
<div class="bar bar-header" style="border:none;">
<button class="button" ng-click="back()" style="border:none;font-size:18px;color:#387ef5;">< Previous sheet</button>
<button class="button" ng-click="menu()" style="border:none;font-size:18px;color:#FF8800;">Options</button>
<button class="button" ng-click="next()" style="border:none;font-size:18px;color:#387ef5;">Next sheet ></button>
</div>
<!-- END of Navigator definitions-->
<!--List encompasses all items-->
<div class="list">
<div class="spacer" style="width: 300px; height: 40px;"></div>
<label class="item item-input" style="border: none;">
<span style="color:#387ef5;font-size:18px;margin-left:auto;margin-right:auto;" class="input-label">LOCAL OBSTETRIC EXAMINATION</span>
</label>

<!---------Text + placeholder no text area-------->
<div class="item item-input-inset" style="border: none;height:50px;">
<div style="color:#387ef5;font-size:18px;min-width:180px;" class="text-label">Inspection</div>
<label class="item item-input" style="border: none;"><input type="text" style="font-size:18px;padding-left:35px;padding-top:4px;height:41px;width:5000px;" id="obsexam.inspection"  ng-model="obsexam.inspection" placeholder="Inspection" ></label>
</div><!--END of Text + placeholder no text area-->

<!---------Text + placeholder no text area-------->
<div class="item item-input-inset" style="border: none;height:50px;">
<div style="color:#387ef5;font-size:18px;min-width:180px;" class="text-label">Fundal height</div>
<label class="item item-input" style="border: none;"><input type="text" style="font-size:18px;padding-left:35px;padding-top:4px;height:41px;width:5000px;" id="obsexam.fundalheight"  ng-model="obsexam.fundalheight" placeholder="Fundal height" ></label>
</div><!--END of Text + placeholder no text area-->

<!---------Text + placeholder no text area-------->
<div class="item item-input-inset" style="border: none;height:50px;">
<div style="color:#387ef5;font-size:18px;min-width:180px;" class="text-label">Fundal grip</div>
<label class="item item-input" style="border: none;"><input type="text" style="font-size:18px;padding-left:35px;padding-top:4px;height:41px;width:5000px;" id="obsexam.fundalgrip" ng-model="obsexam.fundalgrip" placeholder="Fundal grip" ></label>
</div><!--END of Text + placeholder no text area-->

<!---------Text + placeholder no text area-------->
<div class="item item-input-inset" style="border: none;height:50px;">
<div style="color:#387ef5;font-size:18px;min-width:180px;" class="text-label">Right lateral grip</div>
<label class="item item-input" style="border: none;"><input type="text" style="font-size:18px;padding-left:35px;padding-top:4px;height:41px;width:5000px;" id="obsexam.rightlateral" ng-model="obsexam.rightlateral" placeholder="Right lateral grip" ></label>
</div><!--END of Text + placeholder no text area-->

<!---------Text + placeholder no text area-------->
<div class="item item-input-inset" style="border: none;height:50px;">
<div style="color:#387ef5;font-size:18px;min-width:180px;" class="text-label">Left lateral grip</div>
<label class="item item-input" style="border: none;"><input type="text" style="font-size:18px;padding-left:35px;padding-top:4px;height:41px;width:5000px;" id="obsexam.leftlateral"  ng-model="obsexam.leftlateral" placeholder="Left lateral grip" ></label>
</div><!--END of Text + placeholder no text area-->

<!---------Text + placeholder no text area-------->
<div class="item item-input-inset" style="border: none;height:50px;">
<div style="color:#387ef5;font-size:18px;min-width:180px;" class="text-label">Pawlik's grip</div>
<label class="item item-input" style="border: none;"><input type="text" style="font-size:18px;padding-left:35px;padding-top:4px;height:41px;width:5000px;" id="obsexam.pawlik"  ng-model="obsexam.pawlik" placeholder="Pawlik's grip" ></label>
</div><!--END of Text + placeholder no text area-->

<!---------Text + placeholder no text area-------->
<div class="item item-input-inset" style="border: none;height:50px;">
<div style="color:#387ef5;font-size:18px;min-width:180px;" class="text-label">Deep pelvic grip</div>
<label class="item item-input" style="border: none;"><input type="text" style="font-size:18px;padding-left:35px;padding-top:4px;height:41px;width:5000px;" id="obsexam.deeppelvic"  ng-model="obsexam.deeppelvic" placeholder="Deep pelvic grip" ></label>
</div><!--END of Text + placeholder no text area-->

<!---------Text + placeholder no text area-------->
<div class="item item-input-inset" style="border: none;height:50px;">
<div style="color:#387ef5;font-size:18px;min-width:180px;" class="text-label">Foetal heart sound</div>
<label class="item item-input" style="border: none;"><input type="text" style="font-size:18px;padding-left:35px;padding-top:4px;height:41px;width:5000px;" id="obsexam.fhs"  ng-model="obsexam.fhs" placeholder="Foetal heart sound" ></label>
</div><!--END of Text + placeholder no text area-->

<!---------Text + placeholder no text area-------->
<div class="item item-input-inset" style="border: none;height:50px;">
<div style="color:#387ef5;font-size:18px;min-width:180px;" class="text-label">Vaginal examination</div>
<label class="item item-input" style="border: none;"><input type="text" style="font-size:18px;padding-left:35px;padding-top:4px;height:41px;width:5000px;" id="obsexam.ve"  ng-model="obsexam.ve" placeholder="Vaginal examination" ></label>
</div><!--END of Text + placeholder no text area-->

<!--List encompasses all items-->
</div><!--END of list div-->

</ion-content>