
<div class="spacer" style="width: 300px; height: 100px;"></div>
<ion-content ng-app="starter">
<!-- Navigator definitions-->
<div class="bar bar-header" style="border:none;">
<button class="button" ng-click="gototools()" style="border:none;font-size:18px;color:#387ef5;">< Back to menu</button>
</div>
<!-- END of Navigator definitions-->
<div class="spacer" style="width: 300px; height: 80px;"></div>

    <label class="item item-input item-select">
    <div class="input-label"style="font-size:18px;">
      Sodium:
    </div>
    <label><input type="text" style="font-size:18px;" id ="osmo.sodium" ng-model="osmo.sodium" placeholder="Enter sodium level"></label>
      <select id = "osmo.selector">
      <option selected>SI</option>
      <option>US</option>
    </select>
    <div class="input-label"style="font-size:18px;">
      mmol/L
    </div>
  </label>
  
      <label class="item item-input">
    <div class="input-label"style="font-size:18px;">
      Urea:
    </div>
    <label><input type="text" style="font-size:18px;" id ="osmo.urea" ng-model="osmo.urea" placeholder="Enter urea level"> </label>
      <div class="input-label"style="font-size:18px;">
      mmol/L
    </div>
  </label>
  
  <label class="item item-input">
    <div class="input-label"style="font-size:18px;">
      Glucose:
    </div>
    <label><input type="text" style="font-size:18px;" id ="osmo.glucose" ng-model="osmo.glucose" placeholder="Enter glucose level"> </label>
      <div class="input-label"style="font-size:18px;">
      mmol/L
    </div>
  </label>
       
  <div class="spacer" style="width: 300px; height:40px;"></div>
          <div class="row">
        <div class="col col-50"></div>
        <div class="col col-50"><button id="osmo.calculate" ng-click="calculateosmo()" type="submit" style="font-size:18px;" class="button button-positive">Calculate</button></div>
        </div>
        
<div class="spacer" style="width: 300px; height:20px;"></div>  
<label class="item item-input" style="border: none;">
<span style="color:black;font-size:18px;margin-left:auto;margin-right:auto;padding-left:10px;" id="osmo.results" class="input-label"></span>
</label>
<div class="spacer" style="width: 300px; height:20px;"></div>    
<label class="item item-input" style="border: none;">
<span style="color:#387ef5;font-size:18px;margin-left:auto;margin-right:auto;padding-left:10px;" class="input-label">Type in all fields and tap calculate</span>
</label>

<div class="spacer" style="width: 300px; height:10px;"></div>    
<label class="item item-input" style="border: none;">
<span style="color:black;font-size:18px;margin-left:auto;margin-right:auto;padding-left:20px;" class="input-label">Normal values: 280-300 mmol/L</span>
</label>

</ion-content>