<ion-content>
<!--BEGIN PATIENT psyinfo TEMPLATE-->
<!-- Navigator definitions-->
<div class="bar bar-header" style="border:none;">
<button class="button" ng-click="back()" style="border:none;font-size:18px;color:#387ef5;">< Previous sheet</button>
<button class="button" ng-click="menu()" style="border:none;font-size:18px;color:#FF8800;">Options</button>
<button class="button" ng-click="next()" style="border:none;font-size:18px;color:#387ef5;">Next sheet ></button>
</div>
<!-- END of Navigator definitions-->
<!--List encompasses all items-->
<div class="list">
<div class="spacer" style="width: 300px; height: 40px;"></div>

<label class="item item-input" style="border: none;">
<span style="color:#387ef5;font-size:18px;margin-left:auto;margin-right:auto;padding-left:75px;" class="input-label">PSYCHIATRY</span>
</label>

<!---------Text + placeholder no text area-------->
<div class="item item-input-inset" style="border: none;height:50px;">
<div style="color:#387ef5;font-size:18px;min-width:190px;" class="text-label">Childhood</div>
<label class="item item-input" style="border: none;"><input type="text" style="font-size:18px;padding-left:35px;padding-top:4px;height:41px;width:5000px;" id="psyinfo.childhood" ng-model="psyinfo.childhood" placeholder="Childhood" ></label>
</div><!--END of Text + placeholder no text area-->

<!---------Text + placeholder no text area-------->
<div class="item item-input-inset" style="border: none;height:50px;">
<div style="color:#387ef5;font-size:18px;min-width:190px;" class="text-label">Adolescence</div>
<label class="item item-input" style="border: none;"><input type="text" style="font-size:18px;padding-left:35px;padding-top:4px;height:41px;width:5000px;" id="psyinfo.adolescence"  ng-model="psyinfo.adolescence" placeholder="Adolescence" ></label>
</div><!--END of Text + placeholder no text area-->

<!---------Text + placeholder no text area-------->
<div class="item item-input-inset" style="border: none;height:50px;">
<div style="color:#387ef5;font-size:18px;min-width:190px;" class="text-label">Academics</div>
<label class="item item-input" style="border: none;"><input type="text" style="font-size:18px;padding-left:35px;padding-top:4px;height:41px;width:5000px;" id="psyinfo.academics"  ng-model="psyinfo.academics" placeholder="Academics" ></label>
</div><!--END of Text + placeholder no text area-->

<!---------Text + placeholder no text area-------->
<div class="item item-input-inset" style="border: none;height:50px;">
<div style="color:#387ef5;font-size:18px;min-width:190px;" class="text-label">Other findings</div>
<label class="item item-input" style="border: none;"><input type="text" style="font-size:18px;padding-left:35px;padding-top:4px;height:41px;width:5000px;" id="psyinfo.otherfindings"  ng-model="psyinfo.otherfindings" placeholder="Other findings" ></label>
</div><!--END of Text + placeholder no text area-->

<label class="item item-input" style="border: none;">
<span style="color:#387ef5;font-size:18px;margin-left:auto;margin-right:auto;padding-left:0px;" class="input-label">PERSONALITY BEFORE ILLNESS</span>
</label>

<input type="text" style="font-size:18px;height:41px;padding-left:10px;width:100%;" id="psyinfo.personality" ng-model="psyinfo.personality" placeholder="Personality before illness" >

<label class="item item-input" style="border: none;">
<span style="color:#387ef5;font-size:18px;margin-left:auto;margin-right:auto;padding-left:20px;" class="input-label">SOCIAL CIRCUMSTANCES</span>
</label>

<input type="text" style="font-size:18px;height:41px;padding-left:10px;width:100%;" id="psyinfo.social" ng-model="psyinfo.social" placeholder="Social circumstances" >

<!--List encompasses all items-->
</div><!--END of list div-->

</ion-content>