<ion-modal-view

style="position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);min-height: 400px; min-width: 0; max-width: 600px;"
>
  <ion-header-bar>
    <h1 class="title">Fill in all fields</h1>

  </ion-header-bar>
  <ion-content>
    <!--<form ng-submit="echoregisteredID()">-->
      <div class="list">

        <label class="item item-input">
          <span class="input-label">Name:  </span>
          <input type="text" ng-model="registerdoctorData.doctorname" >
        </label>
        
       <label class="item item-input">
          <span class="input-label">Email: </span>
          <input type="text" ng-model="registerdoctorData.doctoremail" >
        </label>
        
       <label class="item item-input">
          <span class="input-label">Enter NID: </span>
          <input type="text" ng-model="registerdoctorData.doctorpassword" >
        </label>

        <label class="item">
          <button class="button button-block button-positive" style="background-color:#428BCA;" ng-click="echoregisteredID()" type="submit">Register without NFC</button>
        </label>
        <label class="item">
          <button class="button button-block button-positive" style="background-color:#428BCA;" ng-click="echoregisteredID_nfc()" type="submit">Register with NFC</button>
        </label>
      </div>
    <!--</form>-->
  </ion-content>
</ion-modal-view>