<ion-view title="List of Stock Items">
<ion-content padding="true" class="has-header">
 
<div class="item item-input-inset">
  <a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="backtomenu()">Back</a>
    <label class="item-input-wrapper">
      <input type="text" style="width:300px" ng-model="searchfilter" placeholder="Search list of stock items">
    </label>
  </div>

<div class="list card" >

<div class="item" ng-repeat="stockitem in stockitems|filter:searchfilter| limitTo:100" ng-click="showDetails(stockitem)">

  <h2>ITEM NAME: {{stockitem.itemname}}</h2>
  <p>BATCH NO. {{stockitem.batchno}}</p>
  <p>EXP DATE: {{stockitem.expdate}}</p>
  <p>Original package contents: {{stockitem.contentdetails}}</p>
</div>
</div>


    </ion-content>
</ion-view>