<ion-view title="Admin Panel">
<ion-content>
<div class="spacer" style="width: 300px; height: 80px;"></div>

<div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>


    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-card-title">Facility Manager</h3>
            <p>Create and edit facilities eg. wards & other clinic services</p>
            <center><button class="uk-button uk-button-primary" ng-click="openfacilitymanager()" style="width:200px;">FACILITY MANAGER</button></center>
        </div>
    </div>

    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-card-title">Staff Management</h3>
            <p>Manages access cards using barcode & user rights for clinic staff</p>
            <center><button class="uk-button uk-button-primary" ng-click="openuseraccess()" style="width:200px;">ID MANAGER</button></center>
        </div>
    </div>

    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-card-title">Manage Services</h3>
            <p>Manages pricing for services eg. doctors, ward, disposables & equipment pricing</p>
            <center><button class="uk-button uk-button-primary" ng-click="openservices()" style="width:200px;">SERVICES</button></center>
        </div>
    </div>


    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-card-title">Manage Suppliers</h3>
            <p>Manages supplier details</p>
            <center><button class="uk-button uk-button-primary" ng-click="opensuppliers()" style="width:200px;">SUPPLIERS</button></center>
        </div>
    </div>

    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-card-title">Bank Accounts Manager</h3>
            <p>Manages your bank accounts</p>
            <center><button class="uk-button uk-button-primary" ng-click="openbankmanager()" style="width:200px;">BANK MANAGER</button></center>
        </div>
    </div>

    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-card-title">System Parameters</h3>
            <p>Adjust parameters used in everyday calculations</p>
            <center><button class="uk-button uk-button-primary" ng-click="openparameters()" style="width:200px;">PARAMETERS</button></center>
        </div>
    </div>

    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-card-title">MRA Accounts</h3>
            <p>View TDS for doctors</p>
            <center><button class="uk-button uk-button-primary" ng-click="openmra()" style="width:200px;">MRA Accounts</button></center>
        </div>
    </div>

</div>

</ion-content></ion-view>
